{{ 'section-home-hero.css' | asset_url | stylesheet_tag }}

<div class="hero-container home">
	<div class="hero-bottom-container">
		<a href="#scroll-to" class="scroll-down-container">
			{% # theme-check-disable %}
			<img src="https://cdn.shopify.com/s/files/1/0669/9728/9112/files/arrow_down.svg?v=1726703278" loading="lazy" alt="" />
			{% # theme-check-enable %}
		</a>
	</div>
	
	<div class="hero-background">
		
	</div>
</div>

{% schema %}
{
	"name": "Home Hero",
	"tag": "section",
	"class": "section",
	"presets": [
		{
			"name": "Home Hero",
			"category": "Custom Sections"
		}
	]
}
{% endschema %}