{{ 'section-navbar.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-navbar.js' | asset_url }}" defer></script>

<div class="nav-container nav-container-gradient">
	<a href="/" aria-current="page" class="nav-link title-link w-inline-block w--current">Gimmie One</a>
	<a href="#" class="menu-open w-inline-block"> </a>
	<div class="nav-link-container">
		<a href="/about" class="nav-link menu-link">ABOUT</a>
		<a href="/blog" class="nav-link menu-link">BLOG</a>
	</div>
	<div class="nav-link-container">
		<a href="/collections/all" class="nav-link menu-link">PRODUCTS</a>
		<a href="/pages/contact" class="nav-link menu-link">CONTACT</a>
	</div>
</div>

<div class="mobile-menu-container">
	<div class="mobile-menu-links">
		<a href="/about" class="link-text mobile-menu">ABOUT</a>
		<a href="/blog" class="link-text mobile-menu">BLOG</a>
		<a href="/collections/all" class="link-text mobile-menu">PRODUCTS</a>
		<a href="/pages/contact" class="link-text mobile-menu">CONTACT</a>
	</div>
	<div class="texture"> </div>
	<div class="nav-container div-block-2 mobile-menu">
		<a href="/" aria-current="page" class="nav-link title-link white mobile-menu w-inline-block w--current">Gimmie One</a>
		<div class="nav-link-container">
			<a href="/about" class="nav-link white">ABOUT</a>
			<a href="/blog" class="nav-link white">BLOG</a>
		</div>
		<div class="nav-link-container">
			<a href="/collections/all" class="nav-link white">PRODUCTS</a>
			<a href="/pages/contact" class="nav-link white">CONTACT</a>
		</div>
		<a href="#" class="menu-open close w-inline-block"> </a>
	</div>
</div>

{% schema %}
{
	"name": "NavBar",
	"tag": "section",
	"class": "section",
	"presets": [
		{
			"name": "Navigation Bar",
			"category": "Custom Sections"
		}
	]
}
{% endschema %}