/* .nav-container {
  position: absolute;
  height: 5.625rem;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: auto;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-container.gradient {
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: beige;
}

@media screen and (max-width: 760px) {
  .header {
	height: auto;
	min-height: 100vh;
  }
} */

a {
	background-color: rgba(0, 0, 0, 0);
}

.hero-container {
	width: 100vw;
	height: 100vh;
}

.hero-container.home {
	z-index: 1;
	background-image: linear-gradient(#000, rgba(255, 255, 255, 0) 51%);
	position: relative;
}

.hero-bottom-container {
	position: absolute;
	width: 100%;
	height: 9rem;
	left: 0%;
	top: auto;
	right: 0%;
	bottom: 0%;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
	z-index: 100;
}

.scroll-down-container {
	max-width: 100%;
	width: 3.4rem;
	height: 3.4rem;
	border: 2px solid #c5ae94;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll-down-container > img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.hero-background {
	width: 100vw;
	height: 100vh;
	color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, .6)), linear-gradient(rgba(0, 0, 0, .6), #000 0%, rgba(0, 0, 0, 0) 10%);
	position: relative;
	z-index: 0;
}

.hero-background > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -100;
	background-position: 50%;
	background-size: cover;
	margin: auto;
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;
}

/* .hero-background {
	height: 100vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: relative;
	overflow: hidden;
}

.hero-background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	filter: blur(20px);
	margin: -30px;
} */

.hero-background.mobile {
	display: none;
}

@media screen and (max-width: 767px) {
	.hero-container.home {
		height: 100vh;
	}
}
